@import url(https://s2-ge.glbimg.com/V_tGe7djBo2A4dIsSbCToh5J25M=/0x0:1440x810/984x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_bc8228b6673f488aa253bbcb03c80ec5/internal_photos/bs/2020/A/I/hgmHoAQx2NXf30lxsUTw/purgatorio.jpg);

/* Variáveis */
:root {
    --primary-color: #026773;
    --secondary-color: #3CA6A6;
    --text-color: #024959;
    --background-color: #F2E3D5;
    --button-hover: #012E40;
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}

/* código omitido */
